.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 260px; /* Width of Sidebar */
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  flex: 1;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
  }
}
